* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #F4F4F9;
  color: #333333;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  height: 100vw;
  width: 100vw;
  gap: 10vw;
}
h1 {
  color: #3D5A80;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10vw;
}

input {
  border: 2px solid black;
  border-radius: 2vw;
  height: 7vw;
}

button {
  border: 2px solid black;
  border-radius: 2vw;
  background-color: #6C63FF;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: -36vw;
  width: auto;
  height: auto;
  gap: 2vw;
}

li {
  border: 2px solid black;
  border-radius: 2vw;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto;
  padding: 1vw 2vw;
  gap: 1vw;
}